
[
	{oauth2_s2s, 
		[
          {host, <<"https://www.googleapis.com/oauth2/v3/token">>},
          {iss, <<"">>},
          {scope, <<"https://www.googleapis.com/auth/pubsub">>},
          {aud, <<"https://www.googleapis.com/oauth2/v3/token">>},
          {grant_type,<<"urn:ietf:params:oauth:grant-type:jwt-bearer">>}
		]
	}
].

